

<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#"></use></svg>
      <span class="fs-4">{{user.get_full_name}}</span>
    </a>
    <hr>
    <ul id="liste" class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{% url 'index' %}" class="nav-link" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Profil
        </a>
      </li>
      <li>
        <a href="{% url 'profileUpdate' %}" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Profili Güncelle
        </a>
      </li>
      <li>
        <a href="{% url 'changePassword' %}" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href=""></use></svg>
          Şifre Değiştir
        </a>
      </li>
      <li>
        <a href="{% url 'getFavoritesAllAnimes' %}" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Favoriler
        </a>
      </li>
      <li>
        <a href="{% url 'getUserAllComments' %}" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Yorumlar
        </a>
      </li>
      <li>
        <a href="{% url 'deleteUser' %}" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href=""></use></svg>
          Hesabı Sil
        </a>
      </li>
    </ul>

  </div>


